body {
    margin: 15px 40px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight: 500;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.component {
    width: 100%;
    border: 2px gray solid;
    padding: 20px;
    margin: 10px auto;
}

section.color {
    width: 24%;
    height: 160px;
    text-align: center;
    display: inline-block;
    border: 1px black solid;
    margin: 15px auto;
    vertical-align: top;
}


section.font{
    height: 190px;
    text-align: left;
    display: inline-block;
    margin: 5px auto;
    width: 30%;
}

#red{
    background-color: #CC0000;
}

#darkgreen{
    background-color: #003300;
}

#grey{
    background-color: #585858;
}

#lightgreen{
    background-color: #009900;
}

#ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

#quicksand {
    font-family: 'Quicksand', sans-serif;;
}

#open-sans-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}